@import "tailwindcss";

@theme {
  --font-novecento: "Novecento", "sans-serif";
  --color-primary: #d52183;
}

@font-face {
  font-family: Novecento;
  src: url("./assets/fonts/Novecento_Book.ttf");
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #030712;
}
#app {
  height: 100vh;
}
